.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000000;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

body {
  background-color: #282c34;
}
.container {
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  color: white;
  padding: 10px;
}

.card {
  border: 1px solid #282c34;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 5px;
  box-shadow: 0px 0px 5px 0px #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card:last-child {
  margin-bottom: 60px;
}

p {
  margin-top: 7px;
  font-size: 12px;
}

.octicon {
  display: inline-block;
  vertical-align: text-bottom;
  fill: currentColor;
  margin-right: 3px;
}

.repo-language-color {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 3px;
}

.repo-stats {
  padding-right: 13px;
}

.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 55px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #282c34;
  display: flex;
  overflow-x: auto;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 13px;
  color: white;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}

.nav-link:hover {
  background-color: #4c4a4a;
}

.nav-link--active {
  background-color: #4c4a4a;
}

.nav-icon {
  font-size: 22px;
}

.nav-text {
  margin-top: 5px;
}

.discussion-image,
.article-image {
  height: 60px;
  width: 70px;
  min-width: 70px;
  margin-left: 10px;
}

.article-title {
  font-size: 14px;
}

.article {
  justify-content: space-between;
}

.discussion-external-link {
  color: white;
  text-decoration: none;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.spinner-image {
  height: 70px;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  background: #282c34;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  padding: 25px 50px 25px 0px;
  position: absolute;
  top: 100px;
  width: 230px;
}

li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
  color: white;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
